body {
    margin: 1%;
    font-family: 'Inconsolata', monospace;
}

header {
    height: 20%;
}

a {
    text-decoration: none;
    opacity: 1.0;
}

h1 {
    font-size: 5em;
    font-weight: bold;
    margin-bottom: 2%;
    top: 20%;
}

h2 {
    font-size: 2em;
    font-weight: 700;
}

h4 {
    font-size: 1.2em;
    font-weight: 700;
    margin-top: 3%;
}


#banner {
    height: 400px;
    width: 100%;
    margin-bottom: 2%;
    background-image: url("/images/cayman_hero_image.jpg");
    background-position: center;
    background-color: rgb(255, 255, 255, 0.5);
    background-blend-mode: lighten;
    text-align: center;
    padding-top: 10%;
    color:rgb(138, 17, 17);
    position: relative;
    z-index: -1;
}

#about-me {
    height: 300px;
    width: 49%;
    margin-right: 1%;
    background-image: url("/images/deadsea_card.jpg");
    background-position: center;
    background-color: rgb(255, 255, 255, 0.2);
    background-blend-mode: lighten;
    text-align: center;
    padding-top: 10%;
    float: left;
}

#projects {
    height: 300px;
    width: 49%;
    margin-left: 1%;
    background-image: url("/images/tianshan_mountains.jpg");
    background-position: center;
    background-color: rgb(255, 255, 255, 0.5);
    background-blend-mode: lighten;
    text-align: center;
    padding-top: 10%;
    float: left;
}

#resume {
    height: 300px;
    width: 49%;
    margin-right: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    background-image: url("/images/central_algeria.jpg");
    background-position: center;
    background-color: rgb(255, 255, 255, 0.3);
    background-blend-mode: lighten;
    text-align: center;
    padding-top: 10%;
    float: left;
}

#contact {
    height: 300px;
    width: 49%;
    margin-left: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    background-image: url("/images/libya_desert.jpg");
    background-position: center;
    background-color: rgb(255, 255, 255, 0.2);
    background-blend-mode: lighten;
    text-align: center;
    padding-top: 10%;
    float: left;
}

footer {
    text-align: center;
    margin-top: 10%;
    margin-bottom: 5%;
}